
h1 {
  font-size: 56px;
  line-height: 1.14;
  letter-spacing: normal;
  margin-top: 80px;
  margin-bottom: 60px;
}

strong {
  font-size: 20px;
  line-height: 1.33;
  letter-spacing: normal;
}

a {
  color: #0065e2;
  pointer-events: none;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    color: #0065e2;
  }
}
.indent-content {
  padding-left: 40px;
  span {
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.71;
    color: rgb(0, 0, 0);
  }
  span:last-child {
    margin-bottom: 0px;
  }
}

.indent-content-children {
  padding-left: 80px;
  margin-top: 10px;
  span {
    color: rgb(0, 0, 0);
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.71;
    margin-bottom: 10px;
  }
  span:last-child {
    margin-bottom: 0px;
  }
}

h2 {
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  .th-header {
    background: black !important;
    text-align: center;
    font-size: 24px;
    color: white !important;
  }
  tr {
    &:hover {
      cursor: pointer;
    }
    &:nth-child(2n) {
      background: #cfc6b8;
    }
    background: rgb(216, 216, 216);
    td:first-child {
      color: black;
    }
    td:last-child {
      color: rgb(164, 96, 46);
    }
    td {
      padding: 10px;
      text-align: left;
      border: 1px solid #898585;;
    }
  }
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: normal;
  padding-bottom: 15px;
  em {
    color: #0e0d0d;
    font-weight: bold;
  }
}

@media screen and (max-width: 765px) {
  h1 {
    font-size: 56px;
    line-height: 1.14;
    letter-spacing: normal;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  strong {
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: normal;
  }

  a {
    color: #0065e2;
    pointer-events: none;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      color: #0065e2;
    }
  }

  .indent-content {
    padding-left: 40px;
    span {
      display: block;
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 1.71;
      color: rgb(0, 0, 0);
    }
    span:last-child {
      margin-bottom: 0px;
    }
  }

  .indent-content-children {
    padding-left: 80px;
    margin-top: 10px;
    span {
      color: rgb(0, 0, 0);
      display: block;
      font-weight: 400;
      font-size: 24px;
      line-height: 1.71;
      margin-bottom: 10px;
    }
    span:last-child {
      margin-bottom: 0px;
    }
  }

  h2 {
    font-size: 46px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  p {
    font-weight: normal;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: normal;
    padding-bottom: 15px;
    em {
      color: #0e0d0d;
      font-weight: bold;
    }
  }
}
